@import "tailwindcss";

:root {
  --background: #e5e7eb;
  --foreground: #171717;
  --color-grad-1: #ee696b;
  --color-grad-2: #523a78;
  --scrollbar-color: #aeaeae;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --scrollbar-color: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-grad-1: var(--color-grad-1);
  --color-grad-2: var(--color-grad-2);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

@layer components {
  .primary-button {
    @apply px-4 py-2 rounded-md text-white
    relative
    transition-all overflow-visible *:z-10;

    &::before {
      content: "";
      @apply absolute rounded-md -inset-0.5;

      background-image: linear-gradient(
        to right,
        #ff8489,
        var(--color-grad-1),
        var(--color-grad-2),
        #5f0a87,
        var(--color-grad-1),
        #ff8489
      );
      background-size: 600% 100%;
      filter: blur(10px);
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      z-index: 0;
    }

    background-image: linear-gradient(
      to right,
      var(--color-grad-1),
      var(--color-grad-2)
    );

    &:hover {
      &::before {
        opacity: 1;
        animation: gradient-rotate 2s linear infinite;
      }
    }
  }

  .secondary-button {
    @apply px-4 py-2 rounded-md relative
    bg-gradient-to-r from-grad-1 to-grad-2
    before:content-[''] before:absolute before:inset-[1px] before:bg-white before:rounded-md before:z-0
    dark:before:hidden dark:bg-none dark:bg-neutral-800 dark:hover:bg-neutral-700 transition-colors;
  }

  .secondary-button svg {
    @apply z-10;
  }

  .secondary-button p,
  .secondary-button span {
    @apply bg-gradient-to-r from-grad-1 to-grad-2 z-10 bg-clip-text text-transparent dark:bg-none dark:text-white;

    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
